<footer class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>Galalcha Charitable</h5>
                <p>Transforming lives through compassion and sustainable community development.</p>
                <div class="social-links">
                    <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white-50">Home</a></li>
                    <li><a href="/about" class="text-white-50">About</a></li>
                    <li><a href="/projects" class="text-white-50">Projects</a></li>
                    <li><a href="/blog" class="text-white-50">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Get Involved</h5>
                <ul class="list-unstyled">
                    <li><a href="/donate" class="text-white-50">Donate</a></li>
                    <li><a href="/volunteer" class="text-white-50">Volunteer</a></li>
                    <li><a href="/contact" class="text-white-50">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Contact Info</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt me-2"></i> Oromia, Ethiopia</li>
                    <li><i class="fas fa-phone me-2"></i> 0463342374/09</li>
                    <li><i class="fas fa-envelope me-2"></i> galalchaorg2024@gmail.com</li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <p class="mb-0">&copy; 2025 Galalcha Charitable Organization. All rights reserved.</p>
        </div>
    </div>
</footer>