<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: title}) %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="container my-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Donate</h1>
                <p class="lead">Donation system will be available soon.</p>
                <p class="lead">For now, you can manually donate/send to the Manager's CBE Bank Account: 1000669771219, Account Name: Mr Haro Nenko Tuma</p>
                <a href="/" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>